<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <script src="../js/vue.js"></script>
    <style>
        th,td{border: 1px solid black;}
    </style>
</head>
<body>
    <div id="app">
        <h1>{{msg}}</h1>
        <input type="text" placeholder="请输入搜索关键字" v-model="keyword">
        <br>
        <button @click="sortType = 1">升序</button>
        <button @click="sortType = 2">降序</button>
        <button @click="sortType = 0">原序</button>

        <table>
            <tr>
                <th>序号</th>
                <th>英雄</th>
                <th>能量值</th>
                <th>选择</th>
            </tr>

            <tr v-for="(hero, index) in filteredHeroes" :key="hero.id">
                <td>{{index+1}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.power}}</td>
                <td><input type="checkbox"></td>
            </tr>
        </table>
        <br>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                sortType : 0,
                keyword : '',
                msg : '列表排序',
                heroes : [
                    {id:'101', name:'艾格文', power:10000},
                    {id:'102', name:'麦迪文', power:9000},
                    {id:'103', name:'古尔丹', power:8000},
                    {id:'104', name:'萨尔', power:6000},
                ],
            },
            computed : {
                filteredHeroes(){
                    // 过滤
                    const arr = this.heroes.filter((hero) => {
                        return hero.name.indexOf(this.keyword) >= 0
                    })
                    // 排序
                    if (this.sortType === 1) {
                        arr.sort((a, b)=> {
                            return a.power - b.power;
                        })
                    } else if(this.sortType === 2) {
                        arr.sort((a, b)=> {
                            return b.power - a.power;
                        })
                    }
                    // 返回
                    return arr
                }
            }
        })
        // 回顾filter
        let arr = [1,2,3,4,5,6,7,8,9]
        arr.filter((num) => {
            //return 过滤规则
            return num < 5
        })
        // 回顾sort方法
        let arr2 = [8,9,5,4,1,2,3]

        // sort方法排序之后，不会生成一个新的数组，是在原数组的基础之上进行排序，会影响原数组的结构。
        arr2.sort((a, b) => {
            return b - a;
        })
    </script>
</body>
</html>